<%- include("partials/header") -%>

<nav id="naav" class="nav navbar navbar-expand-lg navbar-dark ">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/contact">Contact</a>
        <form class="" action="/logout" method="post">
          <%- Logout %>
        </form>
        <%- Login %>
        <%- Register %>

      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="">
    <h1 class="aboutContactTitle">About</h1>
  </div>
  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu elit elit. Cras vulputate nibh lorem, vitae consectetur risus vehicula sed. Curabitur lorem enim, facilisis quis placerat ac, sagittis eget eros. Nulla convallis neque vel leo tincidunt varius. Etiam et ligula leo. Pellentesque at tempor est. Donec et commodo felis, accumsan efficitur libero. Aenean purus velit, ultricies interdum nisi id, placerat blandit felis. Pellentesque nisl lacus, sodales in nibh at, faucibus ultrices massa. Nunc augue velit, auctor vel arcu at, ultricies volutpat quam.</p>

  <p>In vehicula ullamcorper vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nibh augue, auctor id fermentum eget, accumsan volutpat tortor. Donec maximus leo sit amet aliquet sagittis. Sed nec euismod quam. Maecenas elementum luctus ligula. Aliquam libero ligula, tincidunt ac porta id, tempor nec lorem. Morbi vel imperdiet felis. Suspendisse sed sem magna.</p>

  <p>Sed lobortis placerat venenatis. Curabitur eu condimentum justo, in laoreet augue. Donec auctor ligula at ipsum vehicula efficitur. Duis vel tellus venenatis, condimentum enim quis, interdum ligula. Phasellus ut nulla vulputate, rutrum enim a, viverra mi. Integer euismod convallis aliquam. Sed sapien dui, laoreet vitae neque vel, commodo varius dui. Vestibulum scelerisque orci ut est elementum, eget convallis mi aliquet. Vestibulum accumsan bibendum magna. Nunc lorem ex, congue ut sem ac, scelerisque luctus est. Quisque venenatis dui gravida mauris ultricies, vel semper ipsum consequat. Morbi sed velit in elit semper facilisis. Nullam cursus, mi nec vestibulum mattis, odio augue varius turpis, ac molestie tellus elit quis ipsum. In hac habitasse platea dictumst.</p>

  <p>Suspendisse sed pellentesque justo. Integer quis tellus vel neque gravida imperdiet in a sem. Nullam suscipit enim eget mauris posuere, et fermentum dolor malesuada. Aenean quis sapien et ipsum venenatis feugiat. Mauris fermentum tristique egestas. Maecenas convallis orci vel magna ullamcorper, nec condimentum metus pharetra. Nullam auctor elementum libero, vel elementum mauris imperdiet at. Donec posuere, ante in luctus efficitur, purus nulla bibendum velit, a porta tellus d</p>
  </div>
</div>






<%- include("partials/footer") -%>
